@font-face {
	font-family: SimDefaultFont;
	src: url(../../../../assets/fonts/PlusJakartaSans-Regular.woff2);
}

@font-face {
	font-family: SimDefaultFont;
	src: url(../../../../assets/fonts/PlusJakartaSans-Bold.woff2);
	font-weight: bold;
}
